@use "./mixins" as *;
@use "./components" as *;
@use "./assets" as *;
@use "./variables" as *;

body {
  @include flex-card();
}

.card {
  width: 60%;
  background-color: white;

  &__img {
    width: 100%;
  }

  &__main {
    padding: 1.5em;
  }

  &__btn {
    background-color: black;
    color: white;
    border: 1px solid black;

    &--info {
      background-color: white;
      border: 1px solid black;
      margin-left: 5px;
    }
  }
}
