.card {
  width: 50%;
  background-color: white;

  &__img {
    width: 100%;
  }

  &__main {
    padding: 1em;
  }

  &__book {
    background-color: black;
    color: white;
    border: 1px solid black;
  }

  &__info {
    background-color: white;
    border: 1px solid black;
    margin-left: 5px;
  }
}
